<div class="dashboard-container">
    <div class="payment-section">
      <h2>Completar Pago</h2>
      
      <!-- Aquí puedes agregar campos para que el usuario ingrese información de pago -->
      <div class="payment-info">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" id="name" class="form-control" placeholder="Nombre completo" [(ngModel)]="userData.PayboxRename">
        </div>
        
        <div class="form-group">
          <label for="email">Correo electrónico:</label>
          <input type="email" id="email" class="form-control" placeholder="correo@ejemplo.com" [(ngModel)]="userData.PayboxRemail">
        </div>
        
        <div class="form-group">
          <label for="phone">Teléfono:</label>
          <input type="tel" id="phone" class="form-control" placeholder="09XXXXXXXX" [(ngModel)]="userData.PayBoxClientPhone">
        </div>
        
        <div class="form-group">
          <label for="identification">Cédula:</label>
          <input type="text" id="identification" class="form-control" placeholder="1234567890" [(ngModel)]="userData.PayBoxClientIdentification">
        </div>
        
        <div class="form-group">
          <label for="address">Dirección:</label>
          <input type="text" id="address" class="form-control" placeholder="Dirección completa" [(ngModel)]="userData.PayboxDirection">
        </div>

        <div class="form-group">
            <label for="address">Dirección:</label>
            <input type="text" id="address" class="form-control" placeholder="Dirección completa" [(ngModel)]="userData.PayboxDirection">
          </div>
      </div>
      
      <!-- Aquí es donde se mostrará el botón de PagoPlux -->
      <div class="payment-button-container">
        <div id="ButtonPaybox"></div>
      </div>
    </div>
  </div>
  